<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/cgi-bin/index.py"><i class="fa fa-shield"></i> セキュアピザ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
          $if nav_index:
          <li class="active"><a href="/cgi-bin/index.py">商品一覧</a></li>
          <li><a href="/cgi-bin/cart.py"><i class="fa fa-shopping-cart"></i> カート
              $if cart_count:
              <span class="badge">${cart_count}</span>
              $endif
          </a></li>
          $endif
          $if nav_cart:
          <li><a href="/cgi-bin/index.py">商品一覧</a></li>
          <li class="active"><a href="/cgi-bin/cart.py"><i class="fa fa-shopping-cart"></i> カート
              $if cart_count:
              <span class="badge">${cart_count}</span>
              $endif
          </a></li>
          $endif
      </ul>
      $if anonymous:
      <form method="post" class="navbar-form navbar-right" style="padding-top: 2px;">
        <div class="form-group">
            <input name="user" class="form-control input-sm" size="11" placeholder="ユーザ名">
            <input name="pass" class="form-control input-sm" size="11" placeholder="パスワード" type="password">
            <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-sign-in"></i> ログイン</button>
            <a href="/cgi-bin/signup.py">新規登録</a>
        </div>
      </form>
      $endif
      $if login:
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ようこそ ${username} さん<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">注文履歴</a></li>
            <li><a href="#">ユーザ登録内容の変更</a></li>
            <li class="divider"></li>
            <li><a href="/cgi-bin/logout.py">ログアウト</a></li>
          </ul>
        </li>
      </ul>
      $endif
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
$if login_error:
  <div class="container alert alert-danger" role="alert" style="margin-top: 70px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="fa fa-exclamation-triangle"></i> ${login_error}
  </div>
$endif

